h2[id] , p[id]{
    background-color: aquamarine;
}

a[href='#']{
    background-color: blueviolet;
}

/*sumbol ^ starts with info */
*[class^='info']{
    color: green;
}

/* sumbol * contains text*/
*[class*='text']{
    background-color: burlywood;
}

/* symbol $ ends with witle*/
h2[class$='title']{
    font-style: italic;
}